<!DOCTYPE html>
<html>

<head>
  <title>Hello World!</title>
</head>

<body>
  <h1>Hello, {{ name }}!
    <form enctype="multipart/form-data" action="/" method="post">
      <input type="file" name="image" accept="image/*"></input>
      <input type="text" name="category"></input>
      <input type="submit">Submit</input>
    </form>
    <h2 id="sse">Hi! 0x</h2>
    <script>
      const evtSource = new EventSource("sse");
      const output = document.getElementById("sse");
      let count = 0;
      evtSource.onmessage = (event) => {
        count += 1;
        output.textContent = `${event.data} ${count}x`
      }
    </script>
</body>

</html>